<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <link rel="stylesheet" href="../css/detail-products.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>RobinCode</title>
  </head>
  <body>
    <!-- Header -->
    <header-component></header-component>
    <!-- End Header -->

    <!-- Detail Products Section -->
    <section class="detail-products">
      <div class="product-details">
        <img src="" alt="product-image" id="product-image" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="50"/>
        <div class="product-info" data-aos="fade-left" data-aos-duration="2000" >
          <h1 class="product-brand" id="product-name"></h1>
          <div class="product-rating" id="product-rating"></div>
          <p class="product-price" id="product-price"></p>
          <p class="product-description" id="product-description"></p>
          <div class="select-size">
            <select name="size" id="size">
              <option value="" selected>Select size</option>
            </select>
          </div>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>

      <!-- Box Menu -->
      <div class="box-menu" data-aos="fade-up" data-aos-duration="500">
        <button id="description-button" class="menu-button active">
          Description
        </button>
        <button id="reviews-button" class="menu-button">Reviews</button>
      </div>

      <!-- Box Content -->
      <div class="box-content" data-aos="zoom-in" data-aos-duration="500">
        <div class="box-description active">
          <p id="product-long-description"></p>
        </div>
        <div class="box-reviews">
          <ul id="product-reviews"></ul>
        </div>
      </div>
      <!-- End Box Content -->
    </section>

    <!-- End Detail Products Section -->

    <!-- Footer -->
    <footer-component></footer-component>
    <!-- End Footer -->

    <!-- Scroll To Top Button -->
    <scroll-button></scroll-button>

    <!-- script -->
    <script src="../script/detail-products.js"></script>
    <script src="../components/header.js" type="text/javascript" defer></script>
    <script src="../components/footer.js" type="text/javascript" defer></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
